:root {
  --fontf: "Josefin Sans", sans-serif;
  --fontbold: 700;
  --fontNormal: 400;
  --fontSizeHeading: 42px;
  --fontSizeNorm: 18px;
  --fontSizeHero: 65px;
  --colorMain: #004f77;
}
.header-button-container {
  display: none;
}
.header-logo-container {
  justify-content: flex-start;
  width: 100%;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.header-container {
  animation-name: changebg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.error-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container > img {
  height: 100%;
}

@keyframes change {
  from {
    color: #ffff;
  }
  to {
    color: #000;
  }
}
@keyframes changebg {
  from {
    background-color: var(--colorMain);
  }
  to {
    background-color: #ffff;
  }
}
