:root {
  --fontf: "Josefin Sans", sans-serif;
  --fontbold: 700;
  --fontNormal: 400;
  --fontSizeHeading: 42px;
  --fontSizeNorm: 18px;
  --fontSizeHero: 65px;
  --colorMain: #004f77;
}
.header-button-container {
  display: none;
}
.header-logo-container {
  justify-content: flex-start;
  width: 100%;
}
.label {
  font-size: 14px;
}
.anchor-lable {
  text-decoration: underline;
  color: var(--colorMain);
  cursor: pointer;
}
