<header class="header-container">
  <div class="header container-spacing">
    <div class="header-logo-container inner-container-align"><p>HISABY</p></div>
    <div class="header-button-container inner-container-align">
      <div class="action-button-container button-login">
        <div class="action-button"><p>Login</p></div>
      </div>
      <div class="action-button-container button-signup">
        <div class="action-button"><p>Sign Up</p></div>
      </div>
    </div>
  </div>
</header>