<div class="dashboard-right dashboard-item animation-div">
  <div>Upcomming: </div>
  <div class="exp-item special-title">
    <div class="exp-item-checkbox exp-item-style"></div>
    <div class="exp-item-title exp-item-style special-title">Title</div>
    <div class="exp-item-amount exp-item-style special-title">Amount</div>
    <div class="exp-item-due exp-item-style special-title">Due On</div>
    <div class="exp-item-checkbox exp-item-style"></div>
  </div>
  <div class="exp-container"></div>
</div>