<div class="dashboard-left dashboard-item loading">
  <div class="dashboard-left-item-1 dashboard-left-item">
    <div>Total Amount Due</div>
    <div class="amout-due">0</div>
  </div>
  <div class="dashboard-left-item-2 dashboard-left-item">
    <div class="empty-spacer"></div>
    <div class="list-item">Phone Bills Due :
      <span class="list-item-phone list-item-style">NA</span></div>
    <div class="list-item">Electricity Bills Due :
      <span class="list-item-elect list-item-style">NA</span></div>
    <div class="list-item">Extra Bills Due :
      <span class="list-item-extra list-item-style">NA</span></div>
  </div>
  <div class="dashboard-left-item-3 dashboard-left-item"><div>Add Expense</div></div>
</div>