<div class="addexp-form-container">
  <form class="exp-form">
    <label for="title">Enter Title :</label>
    <input type="text" name="title" id="title" placeholder="Enter Title" />
    <label for="balance">Enter Amount :</label>
    <input type="text" name="balance" id="balance" placeholder="Enter Amount" />
    <label for="due">Enter Due Date : </label>
    <input type="date" name="due" id="due" />
    <button class="exp-add-btn">Add</button>

  </form>
  <button class="close-form-btn"><img
      src="/img/close.svg"
      alt="close"
    /></button>
</div>