<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/404.css" />
    <title>Hisaby | 404</title>
  </head>
  <body>
      {{>header}}
      <div class="error-container container-spacing ">
          <img src="/img/S1_Page Not Found.jpg" alt="404">
      </div>
  </body>
</html>