<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Hisaby | Dashboard</title>
  </head>
  <body>
      {{>header}}
      <div class="welcom-line"></div>

      <div class="main-dashboard-container container-spacing ">
        <div class="dashboard-left dashboard-item loading" >
          <div class="dashboard-left-item-1 dashboard-left-item ">
            <div>Total Amount Due</div>
            <div class="amout-due">0</div>
          </div>
          <div class="dashboard-left-item-2 dashboard-left-item ">
            <div class="empty-spacer"></div>
            <div class="list-item ">Phone Bills Due : <span class="list-item-phone list-item-style">NA</span></div>
            <div class="list-item  ">Electricity Bills Due : <span class="list-item-elect list-item-style">NA</span></div>
            <div class="list-item ">Extra Bills Due : <span class="list-item-extra list-item-style">NA</span></div>
          </div>
          <div class="dashboard-left-item-3 dashboard-left-item"><div>Add Expense</div></div>
        </div>
        <div class="dashboard-right  dashboard-item animation-div">
           <div>Upcomming: </div>
         <div class="exp-item special-title">
            <div class="exp-item-checkbox exp-item-style"></div>
           <div class="exp-item-title exp-item-style  special-title">Title</div>
           <div class="exp-item-amount exp-item-style  special-title ">Amount</div>
           <div class="exp-item-due exp-item-style  special-title" >Due On</div>
            <div class="exp-item-checkbox exp-item-style"></div>
         </div>
         <div class="exp-container "></div>
        </div>
        <div class="user-action-btn loading">
          <div class="user-logout-btn"> <img src="/img/logout.png" alt="logout" class="logout-img"></div>
        </div>
      </div>

      <div class="addexp-form-container-back">
      </div>

      <div class="addexp-form-container">
          <form class="exp-form ">
            <label for="title">Enter Title :</label>
            <input type="text" name="title" id="title" placeholder="Enter Title">
            <label for="balance">Enter Amount :</label>
            <input type="text" name="balance" id="balance" placeholder="Enter Amount">
            <label for="due">Enter Due Date : </label>
            <input type="date" name="due" id="due">
            <button class="exp-add-btn">Add</button>
            
          </form>
          <button class="close-form-btn"><img src="/img/close.svg" alt="close"></button>
      </div>

      <script src="/js/index.js"></script>
      <script src="/js/dashboard.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>