<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/mobile/mobile.dashboard.css">
    <title>Hisaby | Dashboard</title>
  </head>
  <body>
      {{>header}}
      <div class="welcom-line"></div>

      <div class="main-dashboard-container container-spacing">
        {{>userDashboardLeft}}
        {{>userDashboardListContainer}}
        {{>userDashboardLogout}}
      </div>

      {{!-- White background for the add expense form --}}
      <div class="addexp-form-container-back">
      </div>

      {{>userExpenseForm}}

      <script src="/js/index.js"></script>
      <script src="/js/dashboard.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>