<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Hisaby - Manage Monthy Bills</title>
  </head>
  <body>
     {{>header}}
    <div class="body-container">
      <div class="body container-spacing">
        <div class="body-heading-container inner-container-align">
          <div class="body-hero-text">Planning
            <br />
            Monthly Bills<br />
            Made
            <br /><span class="hero-text">Easy</span>
          </div>
          <div class="body-hero-subtext">
            Signup now to manage yours!
          </div>
          <div class="body-hero-btn signup-btn">Sign Up Now!</div>
        </div>
        <div class="body-img-container inner-container-align">
          <img
            src="/img/S5_Сalendar 1.svg"
            alt="calender-hero"
            class="body-img"
          />
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>