<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/signupForm.css">
    <title>Hisaby | Sign Up!</title>
  </head>
  <body>
    {{>header}}
    <div class="form-body-container container-spacing">
      <div class="form-body-left "><div>Let's <br> Get You <br> Started!</div></div>
      <div class="form-body-right ">
        <div class="form-title ">
          Enter Some Details :
        </div>
        <form  class="signup-form ">
          <label for="name">Name : </label>
          <input type="text" id="name" placeholder="Enter Your Name" >
          <label for="email">Email ID :</label>
          <input type="text" id="email" placeholder="Enter Your Email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
          <label for="password">Create a Password :</label>
          <input type="password" id="password" placeholder="Password" pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{8}$">
          <label for="cpassword">Confirm Password :</label>
          <input type="password" id="cpassword" placeholder="Confirm Password">
          <button class="form-btn">Submit!</button>
        </form>
      </div>
    </div>
    <div class="popup-container ">
      <div class="popup ">
        <p>You Are Being redirected to the login Page in <br><span class="timmer">5</span> Seconds!<br>
        Please Stand-By!</p>
      </div>
    </div>
     <script src="/js/index.js"></script>
     <script src="/js/signup.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>